:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* box-sizing: border-box; */

  /* font-synthesis: none;
  text-rendering: optimizeLegibility; */

  --accent-color: lightsalmon;
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

.clickable {
  cursor: pointer;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

input,
textarea {
  font-family: inherit;
  font-size: inherit;
  border-radius: 4px;
}

@media (max-width: 480px) {
  input {
    max-width: 10em;
  }
}

.checkboxes {
  display: flex;
  flex-direction: column;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.checkboxes label {
  padding-left: 1em;
  margin-bottom: 0.1em;
}

.checkboxes input {
  margin-right: 1em;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: lightgray;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: grey;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

select,
select::after {
  border-radius: 4px;
  font-size: larger;
  width: 10em;
  font-family: inherit;
}

.hidden {
  display: none;
}

.card {
  background: whitesmoke;
  border-radius: 12px;
  padding: 1em;
}

.card:not(:last-child) {
  margin-bottom: 1em;
}

.icon-auto {
  width: 1.5em;
  height: 1.5em;
}

@media (max-width: 480px) {
  .icon-auto {
    width: 1em;
    height: 1em;
  }
}


/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */